@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">

    function getSimilarTicket(value) {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSimilarTicketsSummary", "Home")',
            data: { summary: value },
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }
    };
    function getSimilarTicketID(value) {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSimilarTicketsID", "Home")',
            data: { searchID: value },
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }
    };
</script>
<body>
    <div>
        <input type="text" id="text_summary" name="summary" size="250" placeholder="Summary">
        <button onclick="getSimilarTicket(document.getElementById('text_summary').value)">Submit</button>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th title="Field #1">OID</th>
                    <th title="Field #2">Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="right">1</td>
                    <td>Calendar picker doesn&#39;t work on web</td>
                    <td><button onclick="getSimilarTicketID('1001')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">2</td>
                    <td>3.0 - Items Previously Discovered and Unmanaged are rediscovered and put in Newly Disc.</td>
                    <td><button onclick="getSimilarTicketID('5001')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">3</td>
                    <td>3.0 - Error Adding impacted resources to RFCs</td>
                    <td><button onclick="getSimilarTicketID('5002')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">4</td>
                    <td>Alert is no longer updating RISK correctly</td>
                    <td><button onclick="getSimilarTicketID('5003')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">5</td>
                    <td>Change Type on Web not sorting in 2nd and 3rd Dropdown</td>
                    <td><button onclick="getSimilarTicketID('5004')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">6</td>
                    <td>Client takes 2 min to start up on first startup after reboot</td>
                    <td><button onclick="getSimilarTicketID('5005')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">7</td>
                    <td>Comments are Disappearing</td>
                    <td><button onclick="getSimilarTicketID('5006')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">8</td>
                    <td>Domain name incorrect on windows2000 scans</td>
                    <td><button onclick="getSimilarTicketID('5007')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">9</td>
                    <td>Error Approving RFC</td>
                    <td><button onclick="getSimilarTicketID('5008')">Similar Tickets</button></td>
                </tr>
                <tr>
                    <td align="right">10</td>
                    <td>Error scanning Dell Print Servers</td>
                    <td><button onclick="getSimilarTicketID('5009')">Similar Tickets</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>