@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    function getSimilarTicket() {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSimilarTickets", "Home")',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data:  JSON.stringify({ summary: 'Change Gear' }),
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data) {
            alert(data[0].id);
        }

        function errorFunc() {
            alert('error');
        }
    };
</script>

<button onclick="getSimilarTicket()">Click Me</button>